@import 'jeet'
@import 'kouto-swiss'
@import '../_vars'
@import '../_mixins'

meyer-reset()
box-sizing-reset()

body
	font-size 16px

#root
	padding 2%


	img
		width 100%

.header

	&__ttl
		padding 20px 0
		font-size em(35px)

	&__content
		font-size em(18px)
		font-style italic
